.absolute-animations {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    position: absolute;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  

  .rectangle {
    position: absolute;
    left: -100px;
    top: 150px;
    width: 200px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 27px;
    border: 29px solid #e5e580;
    transition: 500ms linear;
    animation: bounce-rectangle 1s cubic-bezier(0.66, 0.07, 0.51, 1.52);
  }
  
  /* change this to media queries */
  .container-given-text {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    text-align: center;
    height: 55cqh;
    width: 90vw;
    padding: 20px;
    align-items: center;
    justify-content: center;
  
    word-break: break-word;
  
    text-wrap: balance;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .triangle {
    width: 277.128px;
    height: 240px;
    transition: 500ms ease-in;
    position: absolute;
    fill: none;
    right: -150px;
    bottom: 100px;
    stroke: var(--accent);
    animation: rotate-half-reverse 1s ease;
  }
  .blob-one {
    position: absolute;
    bottom: -100px;
    left: -150px;
    fill: #dce6ff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    animation: move 1s cubic-bezier(0.66, 0.07, 0.51, 1.52);
    flex-shrink: 0;
    transition: 500ms linear;
  }
  
  .blob-two {
    position: absolute;
    bottom: -190px;
    left: -120px;
    fill: #dce6ff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 400px;
    height: 605px;
    flex-shrink: 1;
    animation: move-two 1s cubic-bezier(0.66, 0.07, 0.51, 1.52);
    transition: 500ms linear;
  }
  .blob-right {
    position: absolute;
    right: -30px;
    top: -25px;
    flex-shrink: 1;
    fill: #b4d2f5;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    animation: move 1s cubic-bezier(0.66, 0.07, 0.51, 1.52);
    transition: 500ms linear;
  }
 
 
   @media (max-width: 780px) {
    .rectangle,
    .blob-one,
    .blob-right,
    .blob-two,
    .triangle {
      scale: 0.8;
    }
    .half-ring {
      scale: 0.6;
    }
    
  }
  
  @media (max-width: 550px) {
    .rectangle,
    .blob-one,
  
    .blob-two,
    .triangle {
      scale: 0.5;
    }
    .rectangle,
    .triangle {
      display: none;
    }
  
    .blob-right {
      scale: 0.5;
      position: absolute;
      right: -80px;
      top: -70px;
    }
  }