.landing-main {
  display: flex;

  text-align: start;
  padding: 0 0px;
  height: calc(100vh - 90px);
}
.animated-left-side {
  animation: translate-left 1s cubic-bezier(0.66, 0.07, 0.51, 1.52);
  overflow: hidden;
  transition: 1s;
  z-index: 1000;
  font-size: 4rem;
  font-weight: 700;
  margin: 0px;
}

.container-left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100%;
  width: 55%;
  padding: 0 40px;
  gap: 20px;

  & h2 {
    font-size: 2rem;
    font-weight: 400;
    margin: 0px;
  }
}


.container-right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 45%;
  height: 100%;
  padding: 0 40px;
}
.link-img {
  height: 80%;
}

.anim-one {
  position: absolute;
  bottom: 50px;
  z-index: 100;
  transform: scale(2) rotate(180deg);
}
.anim-two {
  position: absolute;
  right: -200px;
  top: 40px;
  z-index: 10000;
  transform: scale(2) rotate(40deg);
}
.anim-three {
  position: absolute;
  z-index: 100;
  transform: scale(2) rotate(40deg);
  top: 80px;
  left: 150px;
}
.path {
  stroke-dasharray: 1;
  stroke-dashoffset: 0;
  animation: dash 1s cubic-bezier(1, 0.03, 0.27, 1.04);
}



.img-preview {
  position: absolute;

  width: 100%;
  height: 80%;
  right: -200px;
  object-fit: cover;
  object-position: 50% 50%;

  box-shadow: 0px 0px 10px 2px rgba(153, 151, 128, 0.295);
  transition: all 0.5s ease-in-out;
}

.img-preview:hover {
  transform: scale(1.05);
  box-shadow: -10px 10px 10px 4px rgba(153, 151, 128, 0.295);
}






@media (max-width: 1000px) {
  .animated-left-side {
    font-size: 3.25rem;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 14px;
  }
}
@media (max-width: 780px) {
  svg.anim-two {
    display: none;
  }
  .animated-left-side {
    font-size: 3rem;
  }
  .container-left {
    width: calc(100% - 80px);

    & h2 {
      font-size: 1.5rem;
    }
  }

  .container-right {
    display: none;
  }
}
@media (max-width: 500px) {

    .big-btn {
      height: 50px;
       & a{
            font-size: 1rem;
       }
    }
  .animated-left-side {
    font-size: 2.5rem;
  }

  .container-left {
    & h2 {
      font-size: 1.5rem;
    }
  }

  .container-right {
    display: none;
  }
}
@media (max-width: 400px) {
  h1,
  .score-board {
    font-size: 1.5rem;
  }
 

  .container-left{
    padding: 0px;
    width: 100%;
  }
}
@media (max-width: 350px) {

}
