main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  padding: 0 20px;
  height: 100vh;
}
header {
  padding: 20px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  z-index: 100;
}
.stop {
  width: 50%;
}

.container-mid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  z-index: 100;
}

h1 {
  overflow-wrap: break-word;

  flex-shrink: 1;
  z-index: 200;
}

button {
  background-color: var(--primary);
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  color: var(--text);
  font-weight: 500;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: 220ms cubic-bezier(0.66, 0.07, 0.51, 1.52);
}

button:hover {
  scale: 1.08;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
}

.start-btn {
  display: flex;
  background-color: var(--secondary);
  width: 250px;
  justify-content: center;
}

.stop {
  display: flex;
  width: 250px;
  justify-content: center;
}

/* Need a disclaimer for audio and speech api perception */
.info {
  width: 10px;
  height: 10px;
  background-image: url("../public/vite.svg");
}

.spoken-text {
  z-index: 100;
}
.spoken {
  color: var(--text-second);
  margin: 0 0;
}
.h2-title {
  margin-bottom: 0;
}

.half-ring {
  scale: 0.8;
  fill: none;
  stroke: #3498db;
  stroke-width: 20;
  transform-origin: center;
  animation: rotate 1s ease;
}

.triangle {
  width: 277.128px;
  height: 240px;
  transition: 500ms ease-in;

  position: absolute;
  fill: none;
  right: -150px;
  bottom: 100px;

  stroke: var(--accent);
  animation: rotate-half-reverse 1s ease;
}
.blob-one {
  position: absolute;
  bottom: -100px;
  left: -150px;
  fill: #dce6ff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  animation: move 1s var(--spring-easing);
  flex-shrink: 0;
  transition: 500ms linear;
}

.blob-two {
  position: absolute;
  bottom: -190px;
  left: -120px;
  fill: #dce6ff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 400px;
  height: 605px;
  flex-shrink: 1;
  animation: move-two 1s var(--spring-easing);
  transition: 500ms linear;
}

.absolute-animations {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  position: absolute;
}

.blob-right {
  position: absolute;

  right: -30px;
  top: -25px;
  flex-shrink: 1;
  fill: #b4d2f5;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  animation: move 1s var(--spring-easing);

  transition: 500ms linear;
}

.rectangle {
  position: absolute;
  left: -100px;
  top: 150px;
  width: 200px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 27px;
  border: 29px solid #e5e580;
  transition: 500ms linear;
  animation: bounce-rectangle 1s cubic-bezier(0.66, 0.07, 0.51, 1.52);
}


 

/* change this to media queries */
.container-given-text {
 
  overflow: scroll;
  text-align: start;
  height: 50cqh;
  max-width: 90vw;
  padding: 20px;
  align-items: center;
  word-break: keep-all;
 
  text-wrap: balance;
}

.animated-text {
  animation: appearText 1s cubic-bezier(0.66, 0.07, 0.51, 1.52);
  overflow: hidden;
  transition: 1s;
}

.slide-in {
  animation: disappearText 500ms cubic-bezier(0.66, 0.07, 0.51, 1.52);
  transform: translateY(400px);
}

@media (max-width: 780px) {
  .rectangle,
  .blob-one,
  .blob-right,
  .blob-two,
  .triangle {
    scale: 0.8;
  }
  .half-ring {
    scale: 0.6;
  }
}

@media (max-width: 550px) {
  .rectangle,
  .blob-one,
  .blob-right,
  .blob-two,
  .triangle,
  .half-ring {
    scale: 0.5;
  }
  .rectangle,
  .triangle {
    display: none;
  }

  .blob-right {
    right: -80px;
    top: -70px;
  }
}
@media (max-width: 500px) {
  .half-ring {
    scale: 0.4;
  }
  .container-given-text {
    height: 40cqh;
  }
}
@media (max-width: 350px) {
  .half-ring {
    scale: 0.3;
  }
}